{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
About Us
{% endblock %}

{% block css %}
<link href="{% static 'home/css/style.css' %}" rel="stylesheet">

<style>
  #hero {
  width: 100%;
  height: 30vh;
  background: top center;
  position: relative;
  }
  #hero .container {
  padding-top: 30px;
  }
  #trainers{
    padding-top: 10px;
  }
  </style>
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" style= "background-color:hsl(142, 98%, 69%)">
    <div class="container position-relative">
         <div class="site-heading" >
            <br>  
            <h1>About Us </h1>   
        </div>
    </div>
  </section>
{% endblock %}

{% block my_site_main %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'home/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>El Blog "My Site" es un proyecto desarrollado integramente por Ismael Arce Figueroa, alumno del curso de Python en CoderHouse.</h3>
            <br>
            <p class="fst-italic">
              En esta web se podran realizar todas las acciones y funcionalidades de un CRUD completo, como ser:.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Crear y editar cursos, tareas, estudiantes y profesores.</li>
              <li><i class="bi bi-check-circle"></i> Leer datos desde la BBDD y tener la opcion de eliminarlos.</li>
              <li><i class="bi bi-check-circle"></i> crear usuarios de la pagina para poder interactuar en la misma a traves del 
                    modulo de Login.</li>
            </ul>
            <p>
              My Site fue desarrolada gracias al acompañamiento del profesor, tutores y compañeros. <br>Fue un camino lleno de aprendizajes horas de investigacion y muchos errores.<br>Eso mismo lo convirtio en un trabajo gratificante y motivador. 
            </p>

          </div>
        </div>
      </div>
</section>
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>What are they saying</p>
          </div>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'home/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'home/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'home/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'home/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <img src="{% static 'home/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
{% endblock %}