{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Student detail
{% endblock %}

{% block css %}
<link href="{% static 'home/css/student.css' %}" rel="stylesheet">
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1 align="right">Learning Today,<br>Leading Tomorrow</h1>
    <br>
    <br>
    <br>
    <br>
    <h1>{{ student.name }} - {{ student.last_name }} </h1>
    <span class="subheading">Student Detail</span>
    <br>
    <br>
    <a href="{% url 'student:student-add' %}" <button type="button" class="btn btn-primary btn-lg">STUDENT REGISTRATION</button></a>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block my_site_main %}
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">
    <!-- Post preview-->
        <div class="post-preview">
            <h3 class="post-subtitle">Email: {{ student.email }}</h3>
            <p class="post-meta">
                Created by
                <span style="color: #0b4956;" href="">{{ student.owner.username }}</span>
                ( {{ student.created_at }} )
            </p>
            <!-- Update-Delete link only for the owner -->
            {% if user == student.owner or user.is_superuser %}
                <p style="text-align: center">
                    <a href="{% url 'student:student-update' student.id %}">
                        <i class="fa-solid fa-pen-fancy" style="color: #0896e7;"></i> Edit Student
                    </a>
                    &ensp; | &ensp;
                    <a href="{% url 'student:student-delete' student.id %}">
                        <i class="fa fa-trash" style="color: #e20c0c;"></i> Delete Student
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}