{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Trainer
{% endblock %}

{% block css %}
<link href="{% static 'home/css/trainer.css' %}" rel="stylesheet">
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1 align="right">Learning Today,<br>Leading Tomorrow</h1>
    <h2 align="right">Become a new trainer</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'trainer:trainer-add' %}" <button type="button" class="btn btn-primary btn-lg">TRAINER REGISTRATION</button></a>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block my_site_main %}
<section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

        {% for trainer in trainer_list %}
        <!-- Post preview-->
        <div class="post-preview">
          <a href="{% url 'trainer:trainer-detail' trainer.id %}">
            <h2 class="post-title">Trainer: {{ trainer.name }}  {{ trainer.last_name }}</h2>
            <h3 class="post-subtitle">Email: {{ trainer.email }}</h3>
          </a>
          <p class="post-meta">
            Created by
            <span style="color: #0b4956;" href="">{{ trainer.owner.username }}</span>
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}
    </div>
</section>
{% endblock %}