{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Trainer detail
{% endblock %}

{% block css %}
<link href="{% static 'home/css/trainer.css' %}" rel="stylesheet">
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1 align="right">Learning Today,<br>Leading Tomorrow</h1>
    <br>
    <br>
    <br>
    <br>
    <h1>{{ trainer.name }} - {{ trainer.last_name }} </h1>
    <span class="subheading">Trainer Detail</span>
    <br>
    <br>
    <a href="{% url 'trainer:trainer-add' %}" <button type="button" class="btn btn-primary btn-lg">TRAINER REGISTRATION</button></a>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block my_site_main %}
<section id="popular-courses" class="courses">
    <!-- Post preview-->
    <div class="post-preview">
        <h3 class="post-subtitle">Email: {{ trainer.email }}</h3>
        <p style="text-align: center">
            <a href="{% url 'trainer:trainer-update' trainer.id %}">
                <i class="fa fa-pencil" style="color: #1c1c91;"></i> Edit
            </a>
            &ensp; | &ensp;
            <a href="{% url 'trainer:trainer-delete' trainer.id %}">
                <i class="fa fa-trash" style="color: #881a1a;"></i> Delete 
            </a>
        </p>
    </div>
</section>
{% endblock %}