{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Change Password Success
{% endblock %}

{% block my_site_Hero %}
<br>
<br>
<br>
<section id="Login" class="container" >
    <h1>Update User</h1>
    <h3>My Syte</h3>
    <br>
    <a class="btn btn-outline-success" href="{% url 'home:index' %}">Home </a>
</section>
{% endblock %}


{% block my_site_main %}

<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-15 col-lg-16 col-xl-14">
            <div class="site-heading">
                <h1> User {{user.username}} - successful password change.</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}