{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Login
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        <h2>We are team of talented designers making websites with My Site</h2>
        <a href="{% url 'home:user-register' %}" class="btn-get-started">Register now!</a>
    </div>
</section><!-- End Hero -->
{% endblock %}

{% block my_site_main %}
{% load crispy_forms_tags %}
<section id="Login" class="registration">
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <div class="car">
                <div class="card-body">
                    <div class="border p-3 bg-white">
                        <form action="" method="POST">
                            {% csrf_token %}

                            {{ form|crispy }}
                            <hr>
                            <input type="submit" class="btn btn-primary" value="Login" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
