{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Update User
{% endblock %}

{% block my_site_Hero %}
<br>
<br>
<br>

{% load crispy_forms_tags %}
<section id="Login" class="container" >
    <h1>Update User</h1>
    <h3>My Syte</h3>
    <br>
    <a class="btn btn-outline-primary" href="{% url 'home:password-change' %}">Change Password </a>
    <div class="row my-4">
        <div class="col-md-6 offset-md-3">
            <div class="car">
                <div class="card-body">
                    <div class="border p-3 bg-white">
                        <h3>User: {{user.username}} <br> Name: {{user.first_name}} {{user.last_name}}</h3>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                        <hr>
                        <input type="submit" class="btn btn-outline-success" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block my_site_main %}

{% endblock %}