{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Course List
{% endblock %}

{% block css %}
<link href="{% static 'home/css/course.css' %}" rel="stylesheet">
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1 align="right">Learning Today,<br>Leading Tomorrow</h1>
    <br>
    <h2 align="right">Select or Create your new Course is easier with My Site </h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'course:course-add' %}" <button type="button" class="btn btn-primary btn-lg">NEW COURSE</button></a>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block my_site_main %}
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

        {% for course in course_list %}
        <!-- Post preview-->
        <div class="post-preview">
          <a href="{% url 'course:course-detail' course.id %}">
            <h2 class="post-title">{{ course.name }} Course</h2>
            <h3 class="post-subtitle">Course code: {{ course.code }}</h3>
          </a>
          <p class="post-meta">
              Created by
              <span style="color: #1f8a3f;" href="">{{ course.owner.username }}</span>
              ( {{ course.created_at }} )
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
    </div>
</section>
{% endblock %}
