{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Course
{% endblock %}

{% block css %}
<link href="{% static 'home/css/course.css' %}" rel="stylesheet">
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h2>Learning Today,<br>Leading Tomorrow</h2>
    <br>
    <br>
    <h1>Create or Edit your course</h1>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block my_site_main %}
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Save" />
        </form>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
</section>
{% endblock %}