{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Task
{% endblock %}

{% block css %}
<link href="{% static 'home/css/task.css' %}" rel="stylesheet">
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1 align="right">Learning Today,<br>Leading Tomorrow</h1>
    <br>
    <h2 align="right">Select or Create your new Course is easier with My Site </h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'course:task-add' %}" <button type="button" class="btn btn-primary btn-lg">NEW TASK</button></a>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block my_site_main %}
<section id="task-list" class="courses">
    <div class="container" data-aos="fade-up">

        {% for task in task_list %}
        <!-- Post preview-->
        <div class="post-preview">
          <a href="{% url 'course:task-detail' task.id %}">
            <h2 class="post-title">This is the Task: {{ task.name }}</h2>
            <h3 class="post-subtitle">Task due date: {{ task.due_date }}</h3>
            <h3 class="post-subtitle">Associated {{ task.associated_course }}</h3>
          </a> 
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
    </div>
</section>
{% endblock %}
