{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Task detail
{% endblock %}

{% block css %}
<link href="{% static 'home/css/style.css' %}" rel="stylesheet">

<style>
  #hero {
  width: 100%;
  height: 30vh;
  background: top center;
  position: relative;
  }
  #hero .container {
  padding-top: 30px;
  }
  #trainers{
    padding-top: 10px;
  }
  </style>
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" style= "background-color:hsl(142, 98%, 69%)">
    <div class="container position-relative">
         <div class="site-heading" >
            <h1>{{ task.name }} </h1>
            <br>
            <h2>Task Detail</h2> 
            <br>    
        </div>
    </div>
  </section>
{% endblock %}

{% block my_site_main %}
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

        <div class="post-preview">
            <h2 class="post-subtitle">Delivery deadline: {{ task.due_date }}</h2>
            <h5>
                Delivered:
                {% if task.is_delivered %}
                    YES!
                {% else %}
                    No
                {% endif%}
            </h5>
            <p style="text-align: center">
                    <a href="{% url 'course:task-update' task.id %}">
                        <i class="fa fa-pencil" style="color: #1c1c91;"></i> Edit Task
                    </a>
                    &ensp; | &ensp;
                    <a href="{% url 'course:task-delete' task.id %}">
                        <i class="fa fa-trash" style="color: #881a1a;"></i> Delete Task
                    </a>
            </p>          
            <!-- Divider-->
            <hr class="my-4" />
</section>
{% endblock %}