{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Task
{% endblock %}

{% block css %}
<link href="{% static 'home/css/task.css' %}" rel="stylesheet">
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1 align="right">Learning Today,<br>Leading Tomorrow</h1>
    <h2 align="right">Select or Create your new Course is easier with My Site </h2>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'course:task-add' %}" <button type="button" class="btn btn-primary btn-lg">NEW TASK</button></a>
  </div>
</section><!-- End Hero -->
{% endblock %}

{% block my_site_main %}
<section id="task-list" class="courses">
    <div class="container" data-aos="fade-up">

        {% for task in task_list %}
        <!-- Post preview-->
        <div class="post-preview">
          <a href="{% url 'course:task-detail' task.id %}">
            <h2 class="post-title">This is the Task: {{ task.name }}</h2>
            <h3 class="post-subtitle">Task due date: {{ task.due_date }}</h3>
            <h3 class="post-subtitle">Associated {{ task.associated_course }}</h3>
          </a> 
        </div>
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
    </div>
    <!--Pagination Class Based Views-->
    {% if is_paginated %}
    <div class="container p-4">
      <div class="pagination justify-content-center">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a> |
          <a href="?page={{ course_list.previous_page_number }}">previous</a> |
          {% endif %}

          {% if page_obj.paginator.num_pages > 1 %}
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} |
          </span>
          {% endif %}

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a> |
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
    {% endif %}
    <!--end of Pagination-->
</section>
{% endblock %}
