{% extends "home/index.html" %}
{% load static %}

<!-- ckeditor-->
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<!-- ckeditor-->

{% block my_blog_title %}
Task Create-Update
{% endblock %}

{% block css %}
<link href="{% static 'home/css/style.css' %}" rel="stylesheet">

<style>
  #hero {
  width: 100%;
  height: 25vh;
  background: top center;
  position: relative;
  }
  #hero .container {
  padding-top: 30px;
  }
  #trainers{
    padding-top: 10px;
  }
  </style>
{% endblock %}

{% block my_site_Hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" style= "background-color:hsl(142, 98%, 69%)">
  <div class="container position-relative">
       <div class="site-heading" >
          <h1>Create or Edit <br> Task</h1>
          <br>    
      </div>
  </div>
</section>
{% endblock %}

{% block my_site_main %}
{% load crispy_forms_tags %}
<section id="courses" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="car">
        <div class="card-body">
          <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.media }} <!-- ckeditor-->
              {{ form|crispy }}
              <hr>
              <input type="submit" class="btn btn-primary" value="Save" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Divider-->
  <hr class="my-4" />
</section>
{% endblock %}